<div class="form-group">
    <input [class.is-invalid]="ngControl.touched && ngControl.invalid" class="form-control" type={{type}}
        [formControl]="ngControl.control" placeholder={{label}}>

    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">Please enter a
        {{label}}
    </div>
    <div  class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">
        {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}
    </div>
    <div  class="invalid-feedback" *ngIf="ngControl.control.errors?.maxlength">Please enter a
        {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}}
    </div>
    <div  class="invalid-feedback" *ngIf="ngControl.control.errors?.isMatching">Please enter a
        Password do not match
    </div>
</div>