<h2>Admin Panel </h2>

<div class="tab-panel">

    <tabset class="member-tabset">
        <tab heading="User Managment" *appHasRole="['Admin']">
            <div class="Contanier">
                <app-user-managment></app-user-managment>
            </div>
        </tab>
        <tab heading="Photo Managment" *appHasRole="['Admin','Moderator']">
            <div class="Contanier">
                <app-photo-managment></app-photo-managment>
            </div>
        </tab>
    </tabset>

</div>